/* * * * * * * * * */
/* http://nicolasgallagher.com/micro-clearfix-hack/ */
/* * * * * * * * * */

.cf {
  &:before {
    content: " ";
    display: table;
  }
  &:after {
    content: " ";
    display: table;
    clear: both;
  }
  *zoom: 1;
}

// обрубка текста по троеточию
.ellipsis-wrapper {
  white-space: nowrap;
  overflow: hidden;
  -ms-text-overflow: ellipsis;
  text-overflow: ellipsis;
}
