
<!-- photo -->
<img src="" class="thumb"  data-lazy="<%= url.thumbnail %>">

<!-- control-bar -->

<div class="b-controls control-b-controls">
    <i class="btn-like control-photo-like <%= likes.flag ? 'active':'' %>"><%= likes.amount%></i>
    <i class="btn-favorite control-photo-favorite <%= favorites.flag ? 'active':'' %>"><%= favorites.amount%></i>
</div>
<div class="b-name">
    <div class="top">
        <a href="#" class="control-info-album"><%= parent.title%></a>
    </div>
    <div class="bottom text-right">
        <a href="#" class="control-info-photo"><%= title%></a>
    </div>
</div>
<div class="fixed-shadow"></div>

