<!-- uploadImagePreview -->

<li>
<% if ( isNew ) {%>
    <div class="thumb new">
<% } else if ( hasChanged ){%>
    <div class="thumb changed">
<% } else { %>
    <div class="thumb">
<% } %>
        <div class="b-controls">
            <a href="#album-info"  class="btn-edit control-edit"></a>
            <i class="btn-remove control-remove"></i>
        </div>
        <div class="b-name">
            <a href="#"  class="e-link-name"><%= title%></a>
        </div>
        <% if ( !_.isEmpty(url['thumbnail']) ) {%>
            <div style="background-image: url(<%= url['thumbnail']%>)" class="thumb-image"></div>
        <% } else if ( base64 ){ %>
            <div style="background-image: url(<%= base64%>)" class="thumb-image"></div>
        <% } else {%>
            <div style="background-image: url(img/gif/ajax-loader-image.gif); background-size: auto;" class="thumb-image"></div>
        <% } %>
    </div>
</li>
